body{
    display: flex;
    justify-content: center;
    align-content: center;
}

article {

    background-color: rgba(0, 0,0, 70%);
    width: 800px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: black 2px 2px 6px;
    color: white;
}

.container {
    display: flex;
    border-top: cornsilk 1px dashed;
    border-bottom: cornsilk 1px dashed;
}

.container__texto{
    margin-right: 10px;
    color: white;
    
}

.container__img{
    margin: 10px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

button {
    height: 30px;
    width: 150px;
    margin-top: 10px;
    background-color: crimson;
    border-radius: 7px;
}